<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animais</title>
</head>

<body>
    <ul th:each="animal : ${animais}">
        <li th:text="${animal.id}"></li>
        <li th:text="${animal.nome}"></li>
        <li th:text="${animal.raca}"></li>
        <li th:text="${animal.especie}" style="margin-bottom: 5px;"></li>
    </ul>
</body>

</html>